doctype
html
  head
    title Mi primera pagina en node
    link(href='http://stackoverflow.com/questions/29509814/how-to-install-jade-language-support-in-atom')
  
  body
    h1.text-center hola desde Jade
